---
import Link from "../components/Link.astro";
---

<div class="pb-10">
  <div>
    <h2></h2>
  </div>

  <div class="relative z-100 mb-12 md:text-xl">
    <div
      class="pt-5 pb-5 grid justify-items-center relative z-100 bg-[#FFF1F0]"
    >
      <svg
        width="40"
        height="auto"
        viewBox="0 0 155 92"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M41.0772 20.3579C39.2577 21.3157 36.4882 22.8316 35.1101 26.2857C33.7053 29.8078 33.9863 34.7401 36.5283 37.5004C38.9433 40.1174 42.4687 39.778 46.1881 39.4235C50.8708 38.9786 51.513 37.44 56.4165 37.0177C59.3666 36.7613 62.1896 36.52 64.5778 38.0359C68.605 40.585 69.3609 46.8899 69.9161 50.7966C71.0534 58.8362 72.4448 71.6044 72.7592 88.9204C49.6466 88.7092 26.534 88.4906 3.42144 88.2794C3.37461 78.9879 3.32779 69.6964 3.28096 60.4049C9.31499 64.8319 14.7403 67.381 18.6269 68.8969C24.6676 71.2424 28.1395 71.5139 30.5612 71.4611C33.926 71.3857 37.7793 71.2952 40.6491 68.0975C41.0371 67.6676 44.0207 64.2361 43.4922 59.7713C42.9102 54.9219 38.475 51.3245 34.5415 50.8041C29.4775 50.1329 28.2332 54.9371 21.8981 55.2915C16.0247 55.6158 11.6028 51.7921 10.5325 50.8041C4.85302 45.5852 4.11716 38.1037 3.99675 36.5501L3 2.43099L72.1973 2.2726C72.2441 10.546 72.291 18.8269 72.3378 27.1003C66.2837 22.6053 60.7514 20.6595 57.1323 19.7319C52.57 18.5629 46.8437 17.3411 41.0772 20.3729V20.3579Z"
          fill="#14293A"
          stroke="#14293A"
          stroke-width="4"
          stroke-miterlimit="10"></path>
        <path
          d="M83.6968 2.25755C83.8038 30.9541 83.9042 59.6507 84.0112 88.3472H101.779C100.039 85.0138 97.0158 77.9924 98.0393 69.3721C98.4206 66.1366 99.3705 58.1649 104.274 56.0155C107.358 54.6655 111.171 55.9853 113.312 58.1272C118.322 63.135 117.466 75.9032 110.816 89.75C124.845 89.6293 138.866 89.5162 152.894 89.3956C153.71 62.5694 149.63 43.8581 146.659 33.5258C144.492 25.984 142.017 19.7545 137 14.1962C129.768 6.19434 121.031 3.79606 116.429 2.95138C105.518 2.71759 94.6075 2.4838 83.7035 2.25L83.6968 2.25755Z"
          fill="#14293A"
          stroke="#14293A"
          stroke-width="4"
          stroke-miterlimit="10"></path>
        <path
          d="M111.307 28.2712C111.307 32.087 110.616 35.5174 109.519 37.9751C108.971 39.2046 108.331 40.1687 107.645 40.8188C106.962 41.4663 106.258 41.7827 105.557 41.7827C104.856 41.7827 104.151 41.4663 103.468 40.8188C102.782 40.1687 102.142 39.2046 101.594 37.9751C100.498 35.5174 99.8066 32.087 99.8066 28.2712C99.8066 24.4555 100.498 21.0251 101.594 18.5674C102.142 17.3379 102.782 16.3738 103.468 15.7237C104.151 15.0762 104.856 14.7598 105.557 14.7598C106.258 14.7598 106.962 15.0762 107.645 15.7237C108.331 16.3738 108.971 17.3379 109.519 18.5674C110.616 21.0251 111.307 24.4555 111.307 28.2712Z"
          fill="#FFF1F0"
          stroke="#14293A"></path>
      </svg>
    </div>

    <div
      class="text-xs font-[#14293A] pt-10 gap-2 text-center bg-[#FFF1F0] pb-1"
    >
      <div class="">Designet og udviklet af Sarah Albæk</div>
      <div class="">Copyright © 2024</div>
    </div>
  </div>
</div>
